<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common.repository.hmfs.dao.hmfs.HmWebTxnMapper">
    <!--查询子Msg记录   -->
    <select id="selectSubMsgListByMsgSn" parameterType="java.lang.String"
            resultMap="common.repository.hmfs.dao.HmMsgInMapper.BaseResultMap">
        select a.pkid,
               a.info_name,
               a.txn_amt1,
               a.fund_actno1,
               a.info_addr,
               a.builder_area,
               b.dep_standard2,
               b.house_dep_type,
               b.house_cust_phone
            from
               (select * from hm_msg_in  where msg_sn = #{msgSn} and msg_type like '01%') a,
                hm_act_fund b
         where a.fund_actno1 = b.fund_actno1
    </select>

    <!--余额对帐结果 -->
    <select id="selectChkActResult" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.hmfs.HmChkActVO">
        select t1.pkid     as pkid1,
               t1.txn_date as txn_date1,
               t1.actno    as actno1,
               t1.actbal   as actbal1,
               t1.chksts   as chksts1,
               t2.pkid     as pkid2,
               t2.txn_date as txn_date2,
               t2.actno    as actno2,
               t2.actbal   as actbal2,
               t2.chksts   as chksts2
          from (select *
                  from hm_chk_act
                 where txn_date = #{startDate}
                   and chksts = 2
                   and send_sys_id = #{sendSysId1}) t1,
               (select *
                  from hm_chk_act
                 where txn_date = #{startDate}
                   and chksts = 2
                   and send_sys_id = #{sendSysId2}) t2
         where t1.actno = t2.actno
        union all
        select t.pkid as pkid1,
               t.txn_date as txn_date1,
               t.actno as actno1,
               t.actbal as actbal1,
               t.chksts as chksts1,
               '' as pkid2,
               '' as txn_date2,
               '' as actno2,
               0 as actbal2,
               '' as chksts2
          from hm_chk_act t
         where txn_date = #{startDate}
           and chksts = 1
           and send_sys_id = #{sendSysId2}
        union all
        select '' as pkid1,
               '' as txn_date1,
               '' as actno1,
               0 as actbal1,
               '' as chksts1,
               t.pkid as pkid2,
               t.txn_date as txn_date2,
               t.actno as actno2,
               t.actbal as actbal2,
               t.chksts as chksts2
          from hm_chk_act t
         where txn_date = #{startDate}
           and chksts = 1
           and send_sys_id = #{sendSysId1}
    </select>

</mapper>