<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="common.repository.hmfs.dao.hmfs.HmWebTxnMapper">
    <!--查询子Msg记录   -->
    <select id="selectSubMsgListByMsgSn" parameterType="java.lang.String"
            resultMap="common.repository.hmfs.dao.HmMsgInMapper.BaseResultMap">
        select a.pkid,
               a.info_name,
               a.txn_amt1,
               a.fund_actno1,
               a.info_addr,
               a.builder_area,
               b.dep_standard2,
               b.house_dep_type,
               b.house_cust_phone
            from
               (select * from hm_msg_in  where msg_sn = #{msgSn} and msg_type like '01%') a,
                hm_act_fund b
         where a.fund_actno1 = b.fund_actno1
    </select>

    <!--查询子Msg记录  linyong -->
    <select id="selectSubMsgActFundListByMsgSn" parameterType="java.lang.String"
            resultMap="common.repository.hmfs.dao.HmMsgInMapper.BaseResultMap">
        select a.pkid,
               a.msg_Sn,
               a.msg_Sub_Sn,
               b.info_name,
               a.txn_amt1,
               a.fund_actno1,
               a.info_addr,
               a.builder_area,
               a.txn_Ctl_Sts,
               b.dep_standard2,
               b.house_dep_type,
               b.house_cust_phone
            from
               (select * from hm_msg_in  where msg_sn = #{msgSn} and msg_type like '01%') a,
                hm_act_fund b
         where a.fund_actno1 = b.fund_actno1
    </select>

    <!--主机余额对帐结果 不平数据-->
    <select id="selectCbsChkActFailResult" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.hmfs.HmChkActVO">
            select * from (
             select t1.pkid as pkid1,
                    t1.txn_date as txnDate1,
                    t1.actno as actno1,
                    t1.actbal as actbal1,
                    t2.pkid as pkid2,
                    t2.txn_date as txnDate2,
                    t2.actno as actno2,
                    t2.actbal as actbal2
               from HM_CHK_ACT t1, HM_CHK_ACT t2
              where t1.txn_date = #{txnDate}
                and t1.txn_date = t2.txn_date
                and t1.send_sys_id = #{sendSysId}
                and t2.send_sys_id = '99'
                and t1.actno = t2.actno
                and t1.chksts = '2'
                and t2.chksts = '2'
            union all
             select t1.pkid as pkid1,
                    t1.txn_date as txnDate1,
                    t1.actno as actno1,
                    t1.actbal as actbal1,
                    '' as pkid2,
                    '' as txnDate2,
                    '' as actno2,
                    0 as actbal2
               from HM_CHK_ACT t1
              where t1.txn_date = #{txnDate}
                and t1.send_sys_id = #{sendSysId}
                and t1.chksts = '1'
            union all
             select t2.pkid as pkid1,
                    '' as txnDate1,
                    '' as actno1,
                    0 as actbal1,
                    t2.pkid as pkid2,
                    t2.txn_date as txnDate2,
                    t2.actno as actno2,
                    t2.actbal as actbal2
               from HM_CHK_ACT t2
              where t2.txn_date = #{txnDate}
                and t2.send_sys_id = '99'
                and t2.chksts = '1'
            )
            order by coalesce(actno1,actno2)
    </select>

    <!--流水对帐结果 不平数据 -->
    <select id="selectChkTxnFailResult" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.hmfs.HmChkTxnVO">
            select * from (
                 select t1.pkid     as pkid1,
                        t1.txn_date as txnDate1,
                        t1.actno    as actno1,
                        t1.txnamt   as txnamt1,
                        t1.msg_sn   as msgSn1,
                        t1.dc_flag  as dcFlag1,
                        t2.pkid     as pkid2,
                        t2.txn_date as txnDate2,
                        t2.actno    as actno2,
                        t2.txnamt   as txnamt2,
                        t2.msg_sn   as msgSn2,
                        t2.dc_flag  as dcFlag2
                   from HM_CHK_TXN t1, HM_CHK_TXN t2
                  where t1.txn_date = #{txnDate}
                    and t1.txn_date = t2.txn_date
                    and t1.send_sys_id = #{sendSysId}
                    and t2.send_sys_id = '99'
                    and t1.msg_sn = t2.msg_sn
                    and t1.chksts = '2'
                    and t2.chksts = '2'
                union all
                   select   t1.pkid     as pkid1,
                            t1.txn_date as txnDate1,
                            t1.actno    as actno1,
                            t1.txnamt   as txnamt1,
                            t1.msg_sn   as msgSn1,
                            t1.dc_flag   as dcFlag1,
                            ''     as pkid2,
                            '' as txndate2,
                            ''    as actno2,
                            0   as txnamt2,
                            ''   as msgSn2,
                            ''   as dcFlag2
                      from HM_CHK_TXN t1
                     where t1.txn_date = #{txnDate}
                       and t1.send_sys_id = #{sendSysId}
                       and t1.chksts = '1'
            union all
                 select t2.pkid  as pkid1,
                        '' as txnDate1,
                        ''    as actno1,
                        0   as txnamt1,
                        ''   as msgSn1,
                        ''   as dcFlag1,
                        t2.pkid     as pkid2,
                        t2.txn_date as txnDate2,
                        t2.actno    as actno2,
                        t2.txnamt   as txnamt2,
                        t2.msg_sn   as msgSn2,
                        t2.dc_flag   as dcFlag2
                  from HM_CHK_TXN t2
                 where t2.txn_date = #{txnDate}
                   and t2.send_sys_id = '99'
                   and t2.chksts = '1'
            )
            order by coalesce(msgSn1,msgSn2)
    </select>

    <!--流水对帐结果 平账数据 -->
    <select id="selectChkTxnSuccResult" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.hmfs.HmChkTxnVO">
            select * from (
                 select t1.pkid     as pkid1,
                        t1.txn_date as txnDate1,
                        t1.actno    as actno1,
                        t1.txnamt   as txnamt1,
                        t1.msg_sn   as msgSn1,
                        t1.dc_flag   as dcFlag1,
                        t2.pkid     as pkid2,
                        t2.txn_date as txnDate2,
                        t2.actno    as actno2,
                        t2.txnamt   as txnamt2,
                        t2.msg_sn   as msgSn2,
                        t2.dc_flag   as dcFlag2
                   from HM_CHK_TXN t1, HM_CHK_TXN t2
                  where t1.txn_date = #{txnDate}
                    and t1.txn_date = t2.txn_date
                    and t1.send_sys_id = #{sendSysId}
                    and t2.send_sys_id = '99'
                    and t1.msg_sn = t2.msg_sn
                    and t1.chksts = '0'
                    and t2.chksts = '0'
            )
            order by coalesce(msgSn1,msgSn2)
    </select>


    <!--房产中心余额对帐结果 不平数据 -->
    <select id="selectHmbChkActFailResult" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.hmfs.HmChkActVO">
            select * from (
             select t1.pkid as pkid1,
                    t1.txn_date as txnDate1,
                    t1.actno as actno1,
                    t1.actbal as actbal1,
                    t1.cell_num as cellNum1,
                    t1.builder_area as builderArea1,
                    t2.pkid as pkid2,
                    t2.txn_date as txnDate2,
                    t2.actno as actno2,
                    t2.actbal as actbal2,
                    t2.cell_num as cellNum2,
                    t2.builder_area as builderArea2
               from HM_CHK_ACT t1, HM_CHK_ACT t2
              where t1.txn_date = #{txnDate}
                and t1.txn_date = t2.txn_date
                and t1.send_sys_id = #{sendSysId}
                and t2.send_sys_id = '99'
                and t1.actno = t2.actno
                and t1.chksts = '2'
                and t2.chksts = '2'
            union all
             select t1.pkid as pkid1,
                    t1.txn_date as txnDate1,
                    t1.actno as actno1,
                    t1.actbal as actbal1,
                    t1.cell_num as cellNum1,
                    t1.builder_area as builderArea1,
                    '' as pkid2,
                    '' as txnDate2,
                    '' as actno2,
                    0 as actbal2,
                    '' as cellNum2,
                    '' as builderArea2
               from HM_CHK_ACT t1
              where t1.txn_date = #{txnDate}
                and t1.send_sys_id = #{sendSysId}
                and t1.chksts = '1'
            union all
             select t2.pkid as pkid1,
                    '' as txnDate1,
                    '' as actno1,
                    0 as actbal1,
                    '' as cellNum1,
                    '' as builderArea1,
                    t2.pkid as pkid2,
                    t2.txn_date as txnDate2,
                    t2.actno as actno2,
                    t2.actbal as actbal2,
                    t2.cell_num as cellNum2,
                    t2.builder_area as builderArea2
               from HM_CHK_ACT t2
              where t2.txn_date = #{txnDate}
                and t2.send_sys_id = '99'
                and t2.chksts = '1'
            )
            order by coalesce(actno1,actno2)
    </select>

    <!--房产中心余额对帐结果 平账数据 -->
    <select id="selectHmbChkActSuccResult" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.hmfs.HmChkActVO">
            select * from (
             select t1.pkid as pkid1,
                    t1.txn_date as txnDate1,
                    t1.actno as actno1,
                    t1.actbal as actbal1,
                    t1.cell_num as cellNum1,
                    t1.builder_area as builderArea1,
                    t2.pkid as pkid2,
                    t2.txn_date as txnDate2,
                    t2.actno as actno2,
                    t2.actbal as actbal2,
                    t2.cell_num as cellNum2,
                    t2.builder_area as builderArea2
               from HM_CHK_ACT t1, HM_CHK_ACT t2
              where t1.txn_date = #{txnDate}
                and t1.txn_date = t2.txn_date
                and t1.send_sys_id = #{sendSysId}
                and t2.send_sys_id = '99'
                and t1.actno = t2.actno
                and t1.chksts = '0'
                and t2.chksts = '0'
            )
            order by coalesce(actno1,actno2)
    </select>

    <!--2012-07-24 zhanrui-->
    <!--分户账务交易明细日报 -->
    <select id="selectIndiviFundTxnDetail" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.hmfs.HmFundTxnVO">
            select txn.pkid         as pkid,
                   txn.txn_date     as txndate,
                   txn.txn_time     as txntime,
                   txn.fund_actno   as actno,
                   txn.txn_sn       as msgsn,
                   txn.txn_amt      as txnamt,
                   txn.dc_flag      as dcflag,
                   txn.reverse_flag as revflag,
                   txn.cbs_txn_sn   as cbstxnsn,
                   vch.vch_num      as vchnum,
                   act.info_name    as infoname,
                   act.info_addr    as infoaddr,
                   act.builder_area as area,
                   txn.txac_brid    as bankid,
                   txn.opr1_no      as operid
              from HM_TXN_FUND txn
               join HM_ACT_FUND act
                on txn.fund_actno = act.fund_actno1
               left join HM_TXN_VCH vch
                on txn.txn_sn = vch.fund_txn_sn
               and txn.txn_sub_sn = vch.txn_sub_sn + 1
               and vch.vch_sts='2'
             where txn.fund_acttype = '570'
               and txn.txn_date between #{startDate} and #{endDate}
             order by txndate, txntime, actno
    </select>
    <!--2015-05-08 linyong 根据日期查询机构是否存在未进行票据维护的缴款书-->
    <select id="checkVoucherIsHandlerByDept" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.HmTxnStl">
        select a.*
        from hm_txn_stl a
        where a.txn_date = #{prevDate} and a.txac_brid = #{deptCode}
        and a.txn_sn not in (select fund_txn_sn from hm_txn_vch b where b.txn_date=#{prevDate}
        and b.txac_brid = #{deptCode})
    </select>
    <!--//2015-05-08 linyong 根据日期查询柜员是否存在未进行票据维护的缴款书-->
    <select id="checkVoucherIsHandlerByOper" parameterType="java.lang.String"
            resultType="common.repository.hmfs.model.HmTxnStl">
        select a.*
        from hm_txn_stl a
        where a.txn_date = #{currentDate} and a.opr1_no = #{operCode}
        and a.txn_sn not in (select fund_txn_sn from hm_txn_vch b where b.txn_date=#{currentDate}
        and b.opr1_no = #{operCode})
    </select>
</mapper>